<div class="container-fluid px-4">
  <div class="row">
<div class="col-xl-3 col-md-6">
  <div class="card bg-warning  text-white mb-4">
      <div class="card-body">No of Road Trips</div>
      <div class="card-footer d-flex align-items-center justify-content-between">
            {{byroadService.Byroads ? byroadService.Byroads.length : ''}}
          <div class="small text-white"><i class="fas fa-angle-right"></i></div>
      </div>
  </div>
</div>
</div>
</div>


<div class="card mb-4">
  <div class="card-header">
      <i class="fas fa-table me-1"></i>
   By Road Trip
  </div>
  <div class="card-body">

<form>
  <div class="form-group">
    <input type="text" name="searchsText" placeholder="Search" [(ngModel)]="searchText">
  </div>
</form>
<table id="datatablesSimple">
<thead>
<tr>
    <th>From</th>
    <th>Destination</th>
    <th>CarInformation</th>
    <th (click)="sort('Price')">Price &nbsp;<i class="fa fa-sort"></i></th>
    <th>DepartureTime</th>
    <th (click)="sort('Duration')">Duration &nbsp;<i class="fa fa-sort"></i></th>
    <th></th>
</tr>
</thead>
<tr *ngFor="let road of byroadService.Byroads | filter:searchText |orderBy: key" >
  
  <td>{{road.From}}</td>
  <td>{{road.Destination}}</td>
  <td>{{road.CarInformation}}</td>
  <td>{{road.Price}}Rs</td>
  <td>{{road.DepartureTime}}(Indian Time Zone)</td>
  <td>{{road.Duration}}hrs</td>
 
</tr>
</table>
</div>
</div>
