<!DOCTYPE html>
<html lang="en">
<head>
  <title>Contacts</title>
<meta charset="utf-8">

<script type="text/javascript" src="js/jquery-1.5.2.js" ></script>
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/cufon-replace.js"></script>  
<script type="text/javascript" src="js/Cabin_400.font.js"></script>
<script type="text/javascript" src="js/tabs.js"></script> 
<script type="text/javascript" src="js/jquery.jqtransform.js" ></script>
<script type="text/javascript" src="js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="js/atooltip.jquery.js"></script>
<script type="text/javascript" src="js/script.js"></script>

</head>

<body id="page6">
<div class="main">
<!--header -->
<header>
	<div class="wrapper">
		<h1><a href="index.html" id="logo">Air lines</a></h1>
		<span id="slogan">Fast, Frequent &amp; Safe Travelling</span>
	</div>
	<nav>
		<ul id="menu">
			<li id="menu_active" ><a  href=""><span><span>About</span></span></a></li>
			<li><a  href="offers"><span><span>Offers</span></span></a></li>
			<li><a  href="books"><span><span>Book</span></span></a></li>
			<li><a href="services"><span><span>Services</span></span></a></li>>
			<li><a  href="safetys"><span><span>Safety</span></span></a></li>
			<li class="end"><a  href="contacts"><span><span>Contacts</span></span></a></li>
		</ul>
	</nav>
</header><div class="ic">More Website Templates at TemplateMonster.com!</div>
<!-- / header -->
<!--content -->
	<section id="content">
		<div class="wrapper pad1">
			<article class="col1">
				<div class="box1">
							<h2 class="top">Contact Us</h2>
							<div class="pad">
								<div class="wrapper pad_bot1">
									<p class="cols pad_bot2"><strong>Country:<br>
										City:<br>
										Address:<br>
										Email:</strong></p>
									<p class="color1 pad_bot2">INDIA<br>
										KOTA<br>
										R.K PURAM
										<a href="mailto:">palaktalwar0659@gmail.com</a></p>
								</div>
							</div>
							<h2>Miscellaneous Info</h2>
							<div class="pad pad_bot1">
								<p class="pad_bot2">This website help you to book best transport means to travel to your destination which cost least and also in less time whether it is by aeroplane ,train or by road.
									This website while booking provide you with all alternative whether you wnat to travel by road,air. It is upto your wish you want to tavel. It provide you to enjoy your journey.
								</p>
							</div>
						</div>
					</article>
					<article class="col2">
						<h3 class="pad_top1">Contact Form</h3>
						<form id="ContactForm" #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
							<input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="contactService.selectedFlight._id">
							<div class="wrapper">
								<span>Name:</span>
								<input type="text"  name="Name" #Name="ngModel" [(ngModel)]="contactService.selectedFlight.Name" placeholder="Enter the information" required>
								
			
							</div>
							<div class="wrapper">
								<span>Email:</span>
								<input type="text" name="Email" #Price="ngModel" [(ngModel)]="contactService.selectedFlight.Email" placeholder="Enter the information" required>
								
							
							</div>
							<div class="textarea_box">
								<span>Message:</span>
								<input type="text" name="Message" #Message="ngModel" [(ngModel)]="contactService.selectedFlight.Message" placeholder="Enter the information" required>
								
							</div>
							  <div class="row">
								<div class="input-field col s12">
								  <button class="button1" type="button" (click)="resetForm(contactForm)">Reset</button>
								  &nbsp;
								  &nbsp;
								  <button class="button1" type="submit" [disabled]="!contactForm.valid">Submit</button>
								</div>
							  </div>
						</form> 
						<!-- <form id="ContactForm">
							<div>
								<div  class="wrapper">
									<span>Name:</span>
									<input type="text" class="input" >
								</div>
								<div  class="wrapper">
									<span>Email:</span>
									<input type="text" class="input" >								
								</div>
								<div  class="textarea_box">
									<span>Message:</span>
									<textarea name="textarea" cols="1" rows="1"></textarea>								
								</div>
								<a href="#" class="button1" onClick="document.getElementById('ContactForm').submit()"><strong>Send</strong></a>
								<a href="#" class="button1" onClick="document.getElementById('ContactForm').reset()"><strong>Clear</strong></a>
							</div>
						</form> -->
					</article>
				</div>
			</section>
			<!--content end-->
			<!--footer -->
			<footer>
				<div class="wrapper">
					<ul id="icons">
						<li><a href="#" class="normaltip" title="Facebook"><img src="assets/images/icon1.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Delicious"><img src="assets/images/icon2.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Stumble Upon"><img src="assets/images/icon3.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Twitter"><img src="assets/images/icon4.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Linkedin"><img src="assets/images/icon5.jpg" alt=""></a></li>
						<li><a href="#" class="normaltip" title="Reddit"><img src="assets/images/icon6.jpg" alt=""></a></li>
					</ul>
					<div class="links">
						Designed by <a  href="https://github.com/palak0659?tab=repositories">Palak Talwar</a> <br>
						
				
				</div>
				</div>
			</footer>
			<!--footer end-->
		</div>
<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>

<!-- <div class="row">
    <div class="col s12">
      <div class="card">
        
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
               
               <form #flightForm="ngForm" (ngSubmit)="onSubmit(flightForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="flightService.selectedFlight._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="From" #From="ngModel" [(ngModel)]="flightService.selectedFlight.From" placeholder="Enter the information " required>
                    <label>From :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="Destination" #Destination="ngModel" [(ngModel)]="flightService.selectedFlight.Destination" placeholder="Enter the information" required>
                    <label>Destination :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="FlightOf" #FlightOf="ngModel" [(ngModel)]="flightService.selectedFlight.FlightOf" placeholder="Enter the information" required>
                    <label>FlightOf :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="Price" #Price="ngModel" [(ngModel)]="flightService.selectedFlight.Price" placeholder="Enter the information" required>
                    <label>Price :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="DepartureTime" #DepartureTime="ngModel" [(ngModel)]="flightService.selectedFlight.DepartureTime" placeholder="Enter the information" required>
                    <label>DepartureTime :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="Duration" #Duration="ngModel" [(ngModel)]="flightService.selectedFlight.Duration" placeholder="Enter the information" required>
                    <label>Duration :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(flightForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!flightForm.valid">Submit</button>
                  </div>
                </div>
              </form> 
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>From</th>
                        <th>Destination</th>
                        <th>Flightof</th>
                        <th>Price</th>
                        <th>DepartureTime</th>
                        <th>Duration</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let fli of flightService.flights">
                      <td>{{fli.From}}</td>
                      <td>{{fli.Destination}}</td>
                      <td>{{fli.FlightOf}}</td>
                      <td>{{fli.Price}}</td>
                      <td>{{fli.DepartureTime}}</td>
                      <td>{{fli.Duration}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(fli)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(fli._id,flightForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
       </div> 
    </div>
  
  </div>  -->
