<header>
	<div id="header">
		<ul id="menu">
			<li id="menu_active" ><a  href=""><span><span>About</span></span></a></li>
			<li><a  href="offers"><span><span>Offers</span></span></a></li>
			<li><a  href="books"><span><span>Book</span></span></a></li>
			<li><a href="services"><span><span>Services</span></span></a></li>>
			<li><a  href="safetys"><span><span>Safety</span></span></a></li>
			<li class="end"><a  href="contacts"><span><span>Contacts</span></span></a></li>
		</ul>
	</div>
</header>	
