<div class="row">
    <div class="col s12">
      <div class="card">
        
        <div class="card-content white-text">
          <div class="row">
            <div class="col s5">
               
               <form #trainForm="ngForm" (ngSubmit)="onSubmit(trainForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="trainService.selectedTrain._id">
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="From" #From="ngModel" [(ngModel)]="trainService.selectedTrain.From" placeholder="Enter the information " required>
                    <label>From :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="Destination" #Destination="ngModel" [(ngModel)]="trainService.selectedTrain.Destination" placeholder="Enter the information" required>
                    <label>Destination :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="TrainInformation" #TrainInformation="ngModel" [(ngModel)]="trainService.selectedTrain.TrainInformation" placeholder="Enter the information" required>
                    <label>TrainInformation :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="Price" #Price="ngModel" [(ngModel)]="trainService.selectedTrain.Price" placeholder="Enter the information" required>
                    <label>Price :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="DepartureTime" #DepartureTime="ngModel" [(ngModel)]="trainService.selectedTrain.DepartureTime" placeholder="Enter the information" required>
                    <label>DepartureTime :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="Duration" #Duration="ngModel" [(ngModel)]="trainService.selectedTrain.Duration" placeholder="Enter the information" required>
                    <label>Duration :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(trainForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!trainForm.valid">Submit</button>
                  </div>
                </div>
              </form> 
            </div>
            <div class="col s7">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>From</th>
                        <th>Destination</th>
                        <th>TrainInformation</th>
                        <th>Price</th>
                        <th>DepartureTime</th>
                        <th>Duration</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let fli of trainService.trains">
                      <td>{{fli.From}}</td>
                      <td>{{fli.Destination}}</td>
                      <td>{{fli.TrainInformation}}</td>
                      <td>{{fli.Price}}</td>
                      <td>{{fli.DepartureTime}}</td>
                      <td>{{fli.Duration}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(fli)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(fli._id,trainForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
       </div> 
    </div>
  
  </div> 

